.app-main-layout {
  position: relative;
  min-height: 100vh;

  .app-content {
    padding-top: 64px;
    padding-left: 250px;
    transition: padding 0.3s;

    &.full {
      padding-left: 7px;
    }
  }

  .app-page {
    padding: 25px;

    .page-title {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: solid 1px rgba(51,51,51,.12);

      h3, h4, h5 {
        margin: 0;
      }

      h3 {
        font-size: 30px;
      }

      .btn {
        margin: 0 0 0 auto;
      }
    }

    .breadcrumb-wrap {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        color: #000;

        &:before {
          color: #000;
        }
      }
    }
  }
}