.app-main-layout {
  position: relative;
  min-height: 100vh;

  .app-content {
    padding-top: 64px;
    padding-left: 250px;
    transition: padding 0.3s;

    &.full {
      padding-left: 7px;
    }

    .app-page {
      padding: 25px;
    }
  }
}