.empty-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  height: 100vh;

  .auth-card {
    width: 500px;

    .auth-submit {
      width: 100%;
    }
  }
}