.navbar {
  padding: 0 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px!important;
  z-index: 1000;

  .nav-wrapper {
    display: flex;

    .navbar-left {
      display: flex;

      a {
        margin-right: 15px;
      }
    }

    .dropdown-container {
      margin: 0 0 0 auto;

      .dropdown-content {
        min-width: 160px;
      }
    }

    .navbar-toggle {
      margin-right: 15px;
      display: block;
      cursor: pointer;
    }
  }
}